@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #111827;

  background-image: url('/bg.jpg');  /* AGORA FUNCIONA */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
a {
  font-weight: 500;
  text-decoration: inherit;
}

button {
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}