@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}


a {
  font-weight: 500;
  text-decoration: inherit;
}

button {
  cursor: pointer;
}

/* src/index.css */
/* ADICIONE NO FINAL DO ARQUIVO */

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeIn 0.5s ease-out forwards;
}